In [3]:
import pandas as pd
import sqlite3
from pathlib import Path

#Paths
project_root = Path("..")
db_path = project_root / "db" / "roku_telemetry.db"
data_dir = project_root / "data"

device_events_path = data_dir / "device_events.csv"
firmware_releases_path = data_dir / "firmware_releases.csv"
support_tickets_path = data_dir / "support_tickets.csv"

device_events_path, firmware_releases_path, support_tickets_path

(PosixPath('../data/device_events.csv'),
 PosixPath('../data/firmware_releases.csv'),
 PosixPath('../data/support_tickets.csv'))

In [4]:
device_events = pd.read_csv(device_events_path)
firmware_releases = pd.read_csv(firmware_releases_path)
support_tickets = pd.read_csv(support_tickets_path)

device_events.head(), firmware_releases.head(), support_tickets.head()

(   event_id device_id error_code            timestamp firmware_version  \
 0         1     D0001       E402  2024-04-15 12:01:32           10.3.0
 1         2     D0001       E204  2024-04-30 03:39:38           10.3.0
 2         3     D0001       E102  2024-06-23 05:00:18           10.3.4
 3         4     D0001       E102  2024-01-02 20:02:15           10.0.0
 4         5     D0001       E101  2024-02-10 14:48:54           10.1.0

        model region
 0  RokuTV-32     US
 1  RokuTV-32     US
 2  RokuTV-32     US
 3  RokuTV-32     US
 4  RokuTV-32     US  ,
   firmware_version         release_date  \
 0           10.0.0  2024-01-01 00:00:00
 1           10.0.5  2024-01-15 00:00:00
 2           10.1.0  2024-01-31 00:00:00
 3           10.1.2  2024-02-20 00:00:00
 4           10.2.0  2024-03-10 00:00:00

                                                notes
 0                             Initial stable rollout
 1       Minor bug fixes and performance improvements
 2  Feature update - introduces potential activati...
 3                     Hotfix for activation failures
 4                                   Major UI refresh  ,
    ticket_id device_id error_code           created_at  tier  \
 0          1     D0001       E402  2024-04-15 14:16:32     1
 1          2     D0001       E500  2024-06-14 05:08:14     1
 2          3     D0001       E204  2024-04-11 18:29:10     2
 3          4     D0002       E500  2024-03-04 03:08:55     1
 4          5     D0003       E102  2024-06-12 12:51:31     2

           resolution  rma_issued
 0  OTA patch pending           0
 1  OTA patch pending           0
 2  OTA patch pending           0
 3  Resolved - reboot           0
 4  Resolved - reboot           0  )

In [5]:
conn = sqlite3.connect(db_path)
device_events.to_sql("device_events", conn, if_exists="replace", index = False)
firmware_releases.to_sql("firmware_releases", conn, if_exists="replace", index=False)
support_tickets.to_sql("support_tickets", conn, if_exists="replace", index=False)

conn.commit()

In [6]:
import pandas as pd

def q(sql):
    return pd.read_sql_query(sql, conn)

q("""
SELECT 'device_events' AS table_name, COUNT(*) AS row_count FROM device_events
UNION ALL
SELECT 'firmware_releases', COUNT(*) FROM firmware_releases
UNION ALL
SELECT 'support_tickets', COUNT(*) FROM support_tickets;
""")

          table_name  row_count
0      device_events      25001
1  firmware_releases          9
2    support_tickets       2489

In [8]:
q("""
SELECT
    COUNT(DISTINCT device_id) AS device_count,
    COUNT(DISTINCT model) AS model_count,
    COUNT(DISTINCT region) AS region_count,
    COUNT(DISTINCT firmware_version) AS firmware_count
FROM device_events;
""")

   device_count  model_count  region_count  firmware_count
0          1000            5             5               9

In [9]:
db_path.resolve()

PosixPath('/Users/hc/Documents/projects/roku-patch-stability-analytics/db/roku_telemetry.db')

In [ ]:
db_path = Path("/Users/hc/Documents/projects/roku-patch-stability-analytics/db/roku_telemetry.db")

In [11]:
data_dir = Path("/Users/hc/Documents/projects/roku-patch-stability-analytics/data")

In [12]:
conn = sqlite3.connect(db_path)

device_events.to_sql("device_events", conn, if_exists="replace", index=False)
firmware_releases.to_sql("firmware_releases", conn, if_exists="replace", index=False)
support_tickets.to_sql("support_tickets", conn, if_exists="replace", index=False)

conn.commit()

In [13]:
q("SELECT COUNT(DISTINCT device_id) FROM device_events;")

   COUNT(DISTINCT device_id)
0                       1000

In [14]:
!head -n 20 "/Users/hc/Documents/projects/roku-patch-stability-analytics/data/device_events.csv"

event_id,device_id,error_code,timestamp,firmware_version,model,region
1,D0001,E402,2024-04-15 12:01:32,10.3.0,RokuTV-32,US
2,D0001,E204,2024-04-30 03:39:38,10.3.0,RokuTV-32,US
3,D0001,E102,2024-06-23 05:00:18,10.3.4,RokuTV-32,US
4,D0001,E102,2024-01-02 20:02:15,10.0.0,RokuTV-32,US
5,D0001,E101,2024-02-10 14:48:54,10.1.0,RokuTV-32,US
6,D0001,E402,2024-06-16 17:19:10,10.3.4,RokuTV-32,US
7,D0001,E305,2024-05-02 23:41:07,10.3.0,RokuTV-32,US
8,D0001,E305,2024-02-21 10:27:29,10.1.2,RokuTV-32,US
9,D0001,E101,2024-03-23 10:23:29,10.2.0,RokuTV-32,US
10,D0001,E500,2024-06-14 02:09:14,10.3.4,RokuTV-32,US
11,D0001,E402,2024-01-23 23:44:58,10.0.5,RokuTV-32,US
12,D0001,E102,2024-05-26 08:27:17,10.3.4,RokuTV-32,US
13,D0001,E102,2024-05-16 01:21:28,10.3.2,RokuTV-32,US
14,D0001,E102,2024-02-14 15:12:53,10.1.0,RokuTV-32,US
15,D0001,E102,2024-02-15 01:19:23,10.1.0,RokuTV-32,US
16,D0001,E204,2024-04-11 18:02:10,10.2.3,RokuTV-32,US
17,D0001,E204,2024-02-17 10:32:21,10.1.0,RokuTV-32,US
18,D0001,E102,2024-01-10 00:20:14,10.0.0,RokuTV-32,US
19,D0001,E305,2024-03-17 20:40:43,10.2.0,RokuTV-32,US

In [15]:
device_events.head()

,event_id,device_id,error_code,timestamp,firmware_version,model,region
0,1,D0001,E402,2024-04-15 12:01:32,10.3.0,RokuTV-32,US
1,2,D0001,E204,2024-04-30 03:39:38,10.3.0,RokuTV-32,US
2,3,D0001,E102,2024-06-23 05:00:18,10.3.4,RokuTV-32,US
3,4,D0001,E102,2024-01-02 20:02:15,10.0.0,RokuTV-32,US
4,5,D0001,E101,2024-02-10 14:48:54,10.1.0,RokuTV-32,US

In [16]:
device_events.columns

Index(['event_id', 'device_id', 'error_code', 'timestamp', 'firmware_version',
       'model', 'region'],
      dtype='object')

In [17]:
device_events['device_id'].unique()[:10]

array(['D0001', 'D0002', 'D0003', 'D0004', 'D0005', 'D0006', 'D0007',
       'D0008', 'D0009', 'D0010'], dtype=object)

In [18]:
q("""
SELECT error_code, COUNT(*) AS error_count
FROM device_events
GROUP BY error_code
ORDER BY error_count DESC;
""")

  error_code  error_count
0       E204         6492
1       E102         4860
2       E305         3667
3       E402         3656
4       E101         3619
5       E500         2707

In [19]:
q("""
WITH device_base AS (
    SELECT COUNT(DISTINCT device_id) AS total_devices
    FROM device_events
),
errors_by_fw AS (
    SELECT firmware_version,
           COUNT(*) AS error_events
    FROM device_events
    GROUP BY firmware_version
)
SELECT 
    e.firmware_version,
    e.error_events,
    ROUND(1.0 * e.error_events / d.total_devices * 10000, 2) AS error_rate_per_10k
FROM errors_by_fw e
CROSS JOIN device_base d
ORDER BY error_rate_per_10k DESC;
""")

  firmware_version  error_events  error_rate_per_10k
0           10.3.4          5104             51040.0
1           10.3.0          2792             27920.0
2           10.1.0          2773             27730.0
3           10.3.2          2630             26300.0
4           10.1.2          2550             25500.0
5           10.2.3          2511             25110.0
6           10.2.0          2462             24620.0
7           10.0.5          2186             21860.0
8           10.0.0          1993             19930.0

In [20]:
q("""
SELECT 
    error_code,
    COUNT(*) AS ticket_count,
    SUM(rma_issued) AS rma_count,
    ROUND(1.0 * SUM(rma_issued) / COUNT(*), 3) AS rma_rate
FROM support_tickets
GROUP BY error_code
ORDER BY rma_rate DESC, ticket_count DESC;
""")

  error_code  ticket_count  rma_count  rma_rate
0       E204          1148        183     0.159
1       E500           675        106     0.157
2       E101            75         11     0.147
3       E102           149         17     0.114
4       E402           251         27     0.108
5       E305           191         17     0.089

In [21]:
q("""
WITH ticket_events AS (
    SELECT
        t.ticket_id,
        t.device_id,
        t.error_code,
        t.rma_issued,
        t.created_at,
        e.firmware_version
    FROM support_tickets t
    JOIN device_events e
      ON t.device_id = e.device_id
     AND t.error_code = e.error_code
     AND e.timestamp <= t.created_at
)
SELECT 
    firmware_version,
    COUNT(*) AS tickets,
    SUM(rma_issued) AS rmas,
    ROUND(1.0 * SUM(rma_issued) / COUNT(*), 3) AS rma_rate
FROM ticket_events
GROUP BY firmware_version
ORDER BY rma_rate DESC;
""")

  firmware_version  tickets  rmas  rma_rate
0           10.3.0      986   175     0.177
1           10.1.0     1569   235     0.150
2           10.0.5     1082   158     0.146
3           10.2.3      792   114     0.144
4           10.2.0      875   122     0.139
5           10.1.2      931   128     0.137
6           10.0.0     1027   119     0.116
7           10.3.2      498    51     0.102
8           10.3.4      580    54     0.093

In [22]:
## Phase 2 â€“ Spike Detection & Regression Analysis

In [23]:
q("""
WITH daily AS (
    SELECT 
        date(timestamp) AS day,
        error_code,
        COUNT(*) AS error_count
    FROM device_events
    GROUP BY date(timestamp), error_code
),
with_trailing AS (
    SELECT
        error_code,
        day,
        error_count,
        -- 7-day trailing average, excluding today
        AVG(error_count) OVER (
            PARTITION BY error_code
            ORDER BY day
            ROWS BETWEEN 7 PRECEDING AND 1 PRECEDING
        ) AS trailing_7d_avg
    FROM daily
)
SELECT
    error_code,
    day,
    error_count,
    trailing_7d_avg,
    ROUND(
        CASE 
            WHEN trailing_7d_avg IS NULL OR trailing_7d_avg = 0 
            THEN NULL
            ELSE 1.0 * error_count / trailing_7d_avg
        END,
        2
    ) AS spike_ratio
FROM with_trailing
WHERE trailing_7d_avg IS NOT NULL
  AND error_count >= 1.5 * trailing_7d_avg   -- spike threshold
ORDER BY day, error_code;
""")

   error_code         day  error_count  trailing_7d_avg  spike_ratio
0        E204  2024-01-03           46        30.000000         1.53
1        E402  2024-01-16           32        20.857143         1.53
2        E402  2024-01-26           37        20.714286         1.79
3        E500  2024-01-26           18        11.857143         1.52
4        E500  2024-01-29           21        12.714286         1.65
5        E500  2024-01-31           25        14.285714         1.75
6        E500  2024-02-01           25        15.714286         1.59
7        E204  2024-02-02           53        35.000000         1.51
8        E500  2024-02-02           27        17.428571         1.55
9        E500  2024-02-05           35        21.857143         1.60
10       E500  2024-02-06           41        23.857143         1.72
11       E402  2024-02-08           22        14.571429         1.51
12       E101  2024-02-09           27        14.142857         1.91
13       E402  2024-02-09           23        15.285714         1.50
14       E402  2024-02-27           26        16.285714         1.60
15       E500  2024-02-29           16        10.142857         1.58
16       E500  2024-03-04           18         9.000000         2.00
17       E500  2024-03-05           17        10.571429         1.61
18       E500  2024-03-07           24        13.428571         1.79
19       E101  2024-03-12           33        20.428571         1.62
20       E305  2024-03-14           25        15.714286         1.59
21       E305  2024-03-17           31        16.857143         1.84
22       E500  2024-03-18           20        12.000000         1.67
23       E402  2024-03-21           31        19.571429         1.58
24       E402  2024-03-23           32        20.285714         1.58
25       E101  2024-03-24           36        20.285714         1.77
26       E305  2024-03-26           27        17.714286         1.52
27       E305  2024-03-31           31        18.857143         1.64
28       E102  2024-04-07           37        24.571429         1.51
29       E500  2024-04-14           23        12.857143         1.79
30       E204  2024-04-15           55        36.142857         1.52
31       E500  2024-04-15           30        14.428571         2.08
32       E204  2024-04-16           59        38.428571         1.54
33       E500  2024-04-16           26        16.142857         1.61
34       E500  2024-04-17           36        18.285714         1.97
35       E305  2024-04-22           21        11.428571         1.84
36       E305  2024-04-23           23        13.285714         1.73
37       E102  2024-04-24           33        17.428571         1.89
38       E305  2024-04-24           23        14.142857         1.63
39       E102  2024-04-25           30        19.571429         1.53
40       E402  2024-05-02           29        17.571429         1.65
41       E305  2024-05-05           32        19.857143         1.61
42       E101  2024-05-06           33        18.714286         1.76
43       E402  2024-05-07           33        20.000000         1.65
44       E500  2024-05-10           20        11.000000         1.82
45       E305  2024-05-26           29        19.000000         1.53
46       E402  2024-05-26           29        18.714286         1.55
47       E500  2024-05-26           23        10.142857         2.27
48       E402  2024-06-02           33        21.714286         1.52
49       E402  2024-06-10           30        18.428571         1.63
50       E305  2024-06-24           33        21.571429         1.53
51       E500  2024-06-25           23        10.714286         2.15
52       E101  2024-06-27           31        19.000000         1.63

In [24]:
q("""
WITH pre_post AS (
    SELECT
        fr.firmware_version AS release_version,
        de.error_code,
        CASE
            WHEN date(de.timestamp) BETWEEN date(fr.release_date, '-14 days') 
                                        AND date(fr.release_date, '-1 day')
            THEN 'pre'
            WHEN date(de.timestamp) BETWEEN date(fr.release_date) 
                                        AND date(fr.release_date, '+14 days')
            THEN 'post'
        END AS period,
        COUNT(*) AS error_count
    FROM firmware_releases fr
    JOIN device_events de
      ON date(de.timestamp) BETWEEN date(fr.release_date, '-14 days')
                                AND date(fr.release_date, '+14 days')
    GROUP BY release_version, de.error_code, period
),
pivot AS (
    SELECT
        release_version,
        error_code,
        SUM(CASE WHEN period = 'pre'  THEN error_count ELSE 0 END) AS pre_errors,
        SUM(CASE WHEN period = 'post' THEN error_count ELSE 0 END) AS post_errors
    FROM pre_post
    GROUP BY release_version, error_code
)
SELECT
    release_version,
    error_code,
    pre_errors,
    post_errors,
    (post_errors - pre_errors) AS delta_errors,
    CASE 
        WHEN pre_errors > 0 
        THEN ROUND(1.0 * post_errors / pre_errors, 2)
        ELSE NULL
    END AS post_pre_ratio
FROM pivot
WHERE post_errors >= 50  -- avoid tiny-sample noise
  AND (
        pre_errors = 0
        OR 1.0 * post_errors >= 1.5 * pre_errors     -- 50%+ increase
      )
ORDER BY post_pre_ratio DESC, delta_errors DESC;
""")

,release_version,error_code,pre_errors,post_errors,delta_errors,post_pre_ratio
0,10.1.0,E500,181,320,139,1.77
1,10.3.0,E500,194,337,143,1.74
2,10.0.0,E204,0,499,499,NaN
3,10.0.0,E102,0,407,407,NaN
4,10.0.0,E305,0,364,364,NaN
5,10.0.0,E402,0,329,329,NaN
6,10.0.0,E101,0,303,303,NaN
7,10.0.0,E500,0,210,210,NaN

In [33]:
q("""
WITH events_with_release AS (
    SELECT
        de.firmware_version,
        date(de.timestamp) AS day,
        fr.release_date,
        CAST(
            julianday(date(de.timestamp)) - julianday(date(fr.release_date))
            AS INTEGER
        ) AS days_since_release
    FROM device_events de
    JOIN firmware_releases fr
      ON de.firmware_version = fr.firmware_version
),
daily_by_offset AS (
    SELECT
        firmware_version,
        days_since_release,
        COUNT(*) AS error_count
    FROM events_with_release
    WHERE days_since_release >= 0   -- only post-release
    GROUP BY firmware_version, days_since_release
)
SELECT
    firmware_version,
    days_since_release,
    error_count
FROM daily_by_offset
ORDER BY firmware_version, days_since_release;
""")

    firmware_version  days_since_release  error_count
0             10.0.0                   0          146
1             10.0.0                   1          149
2             10.0.0                   2          154
3             10.0.0                   3          128
4             10.0.0                   4          136
..               ...                 ...          ...
177           10.3.4                  32          138
178           10.3.4                  33          151
179           10.3.4                  34          132
180           10.3.4                  35          119
181           10.3.4                  36          130

[182 rows x 3 columns]

In [34]:
rma_by_error_df = q("""
SELECT
    error_code,
    COUNT(*) AS ticket_count,
    SUM(rma_issued) AS rma_count,
    ROUND(1.0 * SUM(rma_issued) / COUNT(*), 3) AS rma_rate
FROM support_tickets
GROUP BY error_code
ORDER BY rma_rate DESC;
""")

In [35]:
rma_by_firmware_df = q("""
WITH ticket_events AS (
    SELECT
        t.ticket_id,
        t.device_id,
        t.error_code,
        t.rma_issued,
        t.created_at,
        e.firmware_version
    FROM support_tickets t
    JOIN device_events e ON t.device_id = e.device_id AND t.error_code = e.error_code
       AND e.timestamp <= t.created_at
)
SELECT
    firmware_version,
    COUNT(*) AS tickets,
    SUM(rma_issued) AS rmas,
    ROUND(1.0 * SUM(rma_issued) / COUNT(*), 3) AS rma_rate
FROM ticket_events
GROUP BY firmware_version
ORDER BY rma_rate DESC;
""")

In [36]:
error_rates_df = q("""
WITH device_base AS (
    SELECT COUNT(DISTINCT device_id) AS total_devices
    FROM device_events
),
errors_by_fw AS (
    SELECT firmware_version, COUNT(*) AS error_events
    FROM device_events
    GROUP BY firmware_version
)
SELECT
    e.firmware_version,
    e.error_events,
    ROUND(1.0 * e.error_events / d.total_devices * 10000, 2) AS error_rate_per_10k
FROM errors_by_fw e
CROSS JOIN device_base d
ORDER BY error_rate_per_10k DESC;
""")

In [37]:
spikes_df = q("""
WITH daily AS (
    SELECT 
        error_code,
        DATE(timestamp) AS day,
        COUNT(*) AS error_count
    FROM device_events
    GROUP BY 1,2
),
rolled AS (
    SELECT
        error_code,
        day,
        error_count,
        AVG(error_count) OVER (
            PARTITION BY error_code
            ORDER BY day
            ROWS BETWEEN 7 PRECEDING AND 1 PRECEDING
        ) AS trailing_7d_avg
    FROM daily
)
SELECT
    error_code,
    day,
    error_count,
    trailing_7d_avg,
    ROUND(CASE 
        WHEN trailing_7d_avg IS NULL THEN NULL
        ELSE 1.0 * error_count / trailing_7d_avg
    END, 2) AS spike_ratio
FROM rolled
WHERE trailing_7d_avg IS NOT NULL
  AND spike_ratio >= 1.5
ORDER BY spike_ratio DESC;
""")

In [38]:
stability_df = q("""
SELECT
    e.firmware_version,
    CAST(julianday(e.timestamp) - julianday(r.release_date) AS INT) AS days_since_release,
    COUNT(*) AS error_count
FROM device_events e
JOIN firmware_releases r
  ON e.firmware_version = r.firmware_version
GROUP BY 1,2
ORDER BY 1,2;
""")

In [40]:
pre_post_df = q("""
WITH pre_post AS (
    SELECT
        fr.firmware_version AS release_version,
        de.error_code,
        CASE
            WHEN date(de.timestamp) BETWEEN date(fr.release_date, '-14 days')
                                        AND date(fr.release_date, '-1 day')
                THEN 'pre'
            WHEN date(de.timestamp) BETWEEN date(fr.release_date)
                                        AND date(fr.release_date, '+14 days')
                THEN 'post'
        END AS period
    FROM firmware_releases fr
    JOIN device_events de
      ON date(de.timestamp) BETWEEN date(fr.release_date, '-14 days')
                                AND date(fr.release_date, '+14 days')
),
agg AS (
    SELECT
        release_version,
        error_code,
        SUM(CASE WHEN period = 'pre'  THEN 1 ELSE 0 END) AS pre_errors,
        SUM(CASE WHEN period = 'post' THEN 1 ELSE 0 END) AS post_errors
    FROM pre_post
    GROUP BY release_version, error_code
)
SELECT
    release_version,
    error_code,
    pre_errors,
    post_errors,
    (post_errors - pre_errors) AS delta_errors,
    CASE 
        WHEN pre_errors > 0 
        THEN ROUND(1.0 * post_errors / pre_errors, 2)
        ELSE NULL
    END AS post_pre_ratio
FROM agg
WHERE post_errors >= 50        -- keep only meaningful post volume
ORDER BY release_version, error_code;
""")

In [42]:
pre_post_df.to_csv("../data/pre_post_errors.csv", index=False)
stability_df.to_csv("../data/stability_curves.csv", index=False)
spikes_df.to_csv("../data/error_spikes.csv", index=False)
error_rates_df.to_csv("../data/error_rates.csv", index=False)
rma_by_firmware_df.to_csv("../data/rma_by_firmware.csv", index=False)
rma_by_error_df.to_csv("../data/rma_by_error.csv", index=False)